Makefile
Makefile.in
aclocal.m4
config.*
config/Makefile
config/Makefile.in
config/config.*
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
configure
libtool
pluginconfig.h*
po/Makefile
po/Makefile.in
po/POTFILES
po/gnome_plugin.pot
po/remove-potcdate.sed
po/stamp-po
src/Makefile
src/Makefile.in
src/*.la
src/*.o
src/*.lo
stamp-h1
autom4te.cache
src/.deps
src/.libs